name: sshx.yml
on:
  schedule:
    - cron: '0 */5 * * *'
  workflow_dispatch:



concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true
jobs:
  ssh:
    runs-on: ubuntu-latest
    steps:
      - name: clone
        uses: actions/checkout@v4
      - name: pm2
        run: |
          npm install -g pm2
          wget https://raw.githubusercontent.com/vevc/nodejs-vless/refs/heads/main/app.js
          wget https://raw.githubusercontent.com/vevc/nodejs-vless/refs/heads/main/package.json
          npm install
          PORT=8000 UUID=bad9c02d-c20e-4e0e-8520-c1a06a955b26 DOMAIN=8000.xiaodu1234.xyz WEB_SHELL=on pm2 start app.js
      - name: ssh
        run: curl -sSf https://sshx.io/get | sh
      - name: py 8888
        run: |
          sshx &
          docker run -d --network host cloudflare/cloudflared:latest tunnel --no-autoupdate run --token eyJhIjoiNWVkOTI5OGJjNTgyZWZiOWVjNDRiZjAzYWQ2ZDEzNTkiLCJ0IjoiN2Y1ZmZjN2QtNTYyMC00MTQzLTk0MjAtMTVhNTgyNzYxODU1IiwicyI6Ik4yUTBZVE16WXpFdFlUZzNNQzAwWTJWbExUa3lNMll0TkRFMFlUQTNZV0l3TlRNMiJ9
          curl ip.sb
          
          python -m http.server 8888

